.sw?
.*.sw?
*.beam
/.erlang.mk/
/cover/
/deps/
/doc/
/ebin/
/escript.lock
/escript/
/logs/
/plugins/
/plugins.lock
/sbin/
/sbin.lock

/rabbitmq_auth_backend_amqp.d

/test/test_SUITE_data/lib
/test/config_schema_SUITE_data/schema
